@font-face {
  font-family: "shrikhandregular";
  src: url("./polices/Shrikhand/shrikhand-regular-webfont.eot");
  src: url("./polices/Shrikhand/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./polices/Shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("./polices/Shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("./polices/Shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("./polices/Shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("./polices/roboto/roboto-regular-webfont.eot");
  src: url("./polices/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./polices/roboto/roboto-regular-webfont.woff2") format("woff2"), url("./polices/roboto/roboto-regular-webfont.woff") format("woff"), url("./polices/roboto/roboto-regular-webfont.ttf") format("truetype"), url("./polices/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("./polices/roboto_bold/roboto-bold-webfont.eot");
  src: url("./polices/roboto_bold/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./polices/roboto_bold/roboto-bold-webfont.woff2") format("woff2"), url("./polices/roboto_bold/roboto-bold-webfont.woff") format("woff"), url("./polices/roboto_bold/roboto-bold-webfont.ttf") format("truetype"), url("./polices/roboto_bold/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("roboto-light-webfont.eot");
  src: url("roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("roboto-light-webfont.woff2") format("woff2"), url("roboto-light-webfont.woff") format("woff"), url("roboto-light-webfont.ttf") format("truetype"), url("roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("./polices/roboto_light/roboto-light-webfont.eot");
  src: url("./polices/roboto_light/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("./polices/roboto_light/roboto-light-webfont.woff2") format("woff2"), url("./polices/roboto_light/roboto-light-webfont.woff") format("woff"), url("./polices/roboto_light/roboto-light-webfont.ttf") format("truetype"), url("./polices/roboto_light/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  margin: 0;
  font-family: "robotoregular";
}

@media (max-width: 375px) {
  .accueil_logo {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .accueil_logo--img {
    height: 50%;
    width: 45%;
  }

  .header_geo {
    background-color: #eaeaea;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_geo-input {
    border: none;
    height: 100%;
    margin-left: 3%;
    background-color: #eaeaea;
    font-family: "robotoregular";
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
    text-align: center;
    background-color: #F6F6F6;
  }
  .description_title {
    margin-top: 14%;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.4rem;
    font-family: "robotobold";
  }
  .description_text {
    font-family: "robotolight";
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1rem;
  }
  .description_button--pink {
    width: 218px;
    height: 50px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    border-radius: 25px 25px 25px 25px;
    color: white;
    font-family: "robotoregular";
    font-size: 1rem;
  }

  .order {
    height: 440px;
    width: 90%;
    margin-left: 5%;
  }
  .order_title {
    font-size: 1.4rem;
    font-family: "robotobold";
    margin-top: 9%;
    margin-bottom: 7%;
  }
  .order_1 {
    background-color: #f6f6f6;
    display: flex;
    height: 75px;
    width: 96%;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    margin-left: 4%;
    font-family: "robotobold";
  }
  .order_2 {
    background-color: #f6f6f6;
    display: flex;
    height: 75px;
    width: 96%;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    margin-left: 4%;
    font-family: "robotobold";
  }
  .order_3 {
    background-color: #f6f6f6;
    display: flex;
    height: 75px;
    width: 96%;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    margin-left: 4%;
    font-family: "robotobold";
  }
  .order_number {
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    border-radius: 15px 15px 15px 15px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .fa-mobile-alt {
    margin-right: 28px;
    margin-left: 35px;
    color: #7e7e7e;
  }

  .fa-list-ul {
    margin-right: 28px;
    margin-left: 35px;
    color: #7e7e7e;
  }

  .fa-store {
    margin-right: 28px;
    margin-left: 35px;
    color: #9356DC;
  }

  .rest {
    height: 1225px;
    background-color: #F6F6F6;
  }
  .rest_title {
    font-size: 1.4rem;
    font-family: "robotobold";
    width: 90%;
    margin-left: 5%;
    padding-top: 10%;
    padding-bottom: 3%;
  }

  .cont {
    height: 250px;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin-bottom: 5%;
  }
  .cont_top {
    height: 175px;
  }
  .cont_top--img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
  .cont_bottom {
    display: flex;
    justify-content: space-between;
    height: 75px;
  }
  .cont_bottom_name {
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 70%;
    margin-left: 4%;
  }
  .cont_bottom_name--title {
    margin-bottom: 0;
    margin-top: 6%;
    font-family: "robotobold";
    font-size: 1rem;
  }
  .cont_bottom_name--text {
    margin-top: 1%;
    font-family: "robotolight";
    font-size: 1rem;
  }
  .cont_bottom--heart {
    margin-right: 25px;
    font-size: 1.2rem;
    margin-top: 7%;
  }

  .footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    color: white;
    height: 200px;
  }
  .footer_logo {
    height: 20px;
    width: 100px;
    margin-left: 5%;
    padding-top: 8%;
    padding-bottom: 5%;
  }
  .footer_logo--img {
    width: 100%;
    height: 100%;
  }
  .footer_rest {
    margin-left: 5%;
    display: flex;
  }
  .footer_rest--lien {
    margin-left: 5%;
    text-decoration: none;
    color: white;
  }
  .footer_part {
    margin-left: 5%;
    display: flex;
  }
  .footer_part--lien {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    margin-left: 3%;
  }
  .footer_mentions {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-family: "robotolight";
  }
  .footer_contact {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-family: "robotolight";
  }
}
/* Page 1 */
@media (max-width: 375px) {
  .page {
    width: 100%;
    height: 60px;
    display: flex;
  }
  .page_arrow {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8%;
  }
  .page_arrow--lien {
    color: #353535;
  }
  .page_logo {
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .page_logo--img {
    height: 50%;
    width: 63%;
  }

  .pres {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pres_picture {
    height: 215px;
    width: 100%;
    z-index: 2;
    background-color: #F2F2F2;
  }
  .pres_picture--img {
    width: 100%;
    height: auto;
  }
  .pres_title {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    z-index: 2;
    border-radius: 25px 25px 0 0;
  }
  .pres_title--text {
    margin-left: 5%;
    font-size: 1.7rem;
    font-family: "shrikhandregular";
  }
  .pres_title--heart {
    margin-right: 8%;
    font-size: 1.5rem;
  }

  .menu {
    background-color: #F2F2F2;
  }
  .menu_button {
    height: 50px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    border-radius: 25px 25px 25px 25px;
    color: white;
    font-family: "robotoregular";
    font-size: 1rem;
    width: 49%;
    margin-left: 25%;
    margin-top: 35px;
    margin-bottom: 60px;
  }

  .selection {
    width: 90%;
    margin-left: 5%;
  }
  .selection_title {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "robotolight";
  }
  .selection_detail {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 3%;
  }
  .selection_detail--title {
    font-family: "robotobold";
    margin-left: 4%;
    margin-bottom: 0;
    margin-top: 3%;
  }
  .selection_detail_desc {
    display: flex;
    justify-content: space-between;
  }
  .selection_detail_desc--text {
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 3%;
    font-family: "robotolight";
    font-size: 0.9rem;
  }
  .selection_detail_desc--price {
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 3%;
    font-family: "robotobold";
  }
}

/*# sourceMappingURL=style.css.map */
