$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$title-font: 'shrikhandregular';

$font-size: ("title":1.4rem, "text":1rem);

$font-weight: ("bold":"robotobold", "regular":"robotoregular", "light":"robotolight");